<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  {% seo %}
  
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}">
</head>
<body>
  {% include header.html %}
  
  <div class="page-wrapper">
    {% if page.layout == 'home' %}
      {% include sidebar.html %}
    {% endif %}
    
    <main id="main-content" class="{% if page.layout == 'home' %}with-sidebar{% endif %}">
      {{ content }}
    </main>
  </div>
  
  {% include footer.html %}
</body>
</html>
